<h2>Edit the post {{title}}</h2>

<form action="/post/{{_id}}/edit" method="post" enctype="multipart/form-data">
  <label>
    Image Link:
   <input type="file" name="animal-art-img" value="{{imageUrl}}"/>
  </label>
  <label>
    Title:
    <input type="text" name="title" value="{{title}}" />
  </label>

  <label>
    Artist:
    <input type="text" name="artist" value="{{artist}}" />
  </label>

  <label>
    Link to Artist:
    <input
      name="artistLink"
      value="{{artistLink}}"
    ></input>
  </label>

  <button type="submit">Save changes</button>
  
</form>
<form action="/post/{{_id}}/delete" method="POST">
    <button type="submit">Delete Post</button>
</form>