<section class="signUp-container">

<div><h2>Edit the post: <br><span>{{title}}</span></h2>
<form action="/post/{{_id}}/edit" method="post" enctype="multipart/form-data">
  
    <label>
    <input type="text" name="title" value="{{title}}" />
  </label>

  <label>
    
    <input type="text" name="artist" value="{{artist}}" />
  </label>

  <label>
    
    <input
      name="artistLink"
      value="{{artistLink}}"
    ></input>
  </label>
<label>
    
   <input type="file" name="animal-art-img" value="{{imageUrl}}"/>
  </label>
 <div id="editPost-buttons">
  <button type="submit" class="button">Save changes</button>
 </div>
</form>
 <form action="/post/{{_id}}/delete" method="POST">
    <button type="submit" class="button button-delete">Delete Post</button>
</form>
</div>
<div>
<img src="{{imageUrl}}" alt="whale" class="signUp-img" id="login-img">
{{!-- needs a route to get image from the the post we editing --}}
</div>
</section>