<section class="postDetails-container signUp-container">

    <div>
        <img src="{{imageUrl}}" alt="image-alt-text" class="singUp-img" id="postDetails-img">
    </div>

    <div class="info-div">
        <div class="titleAndUser">
            <h3> {{title}}</h3> 
            <div class="user-wrapper">
             <img src="https://www.pngitem.com/pimgs/m/146-1468281_profile-icon-png-transparent-profile-picture-icon-png.png" alt="user" class="user-img">
            <p>posted by:<a href="/profile/{{user._id}}">{{user.username}}</a></p>
          </div>
        </div>

        <p>Artist: <a href="{{artistLink}}">{{artist}}</a></p>
    {{!-- <p>User: <a href="/profile/{{user._id}}">{{user.username}}</a></p> --}}
        {{#if owner}}
            <button class="button"><a href="/post/{{_id}}/edit">Edit Post</a></button>
         
        {{/if}}
   </div>

</section>
